html{
  /* background color */
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* background color */
background: linear-gradient(180deg, #2E85EC 42.69%, rgba(82, 165, 175, 0.72) 84.14%);
}

h1{
/* Header frame */
/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

position: absolute;
width: 550px;
height: 228px;
left: calc(50% - 550px/2);
top: calc(50% - 228px/2 - 394px);

background: #FFFFFF;
border-radius: 46px;
}


body {
  font-family: Arial, sans-serif;
  text-align: center;
}


.input-container {
/* Frame 5 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 548px;
height: 129px;
left: calc(50% - 548px/2);
top: calc(50% - 129px/2 - 181px);
background-color: white
}

.input_city {
  font-size: 1rem;
}

/* Common CSS rules for all screen sizes */

#fetchBtn:hover {
  background-color: #45a049;
}

#weatherInfoContainer {
/* Frame 6 */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 550px;
height: 468px;
left: calc(50% - 550px/2);
top: calc(50% - 468px/2 + 131px);
background-color: white;
}

footer{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 550px;
height: 63px;
left: 545px;
top: 998px;
background-color: white;
}


/* Media Queries */
@media (max-width: 576px) {
  /* CSS rules for mobile devices */
  #weatherInfoContainer{
    width: 40%;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  /* CSS rules for smaller laptops */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* CSS rules for medium-sized laptops */
}

@media (min-width: 1200px) {
  /* CSS rules for larger laptops */
}
