/* Global Styles */
html{
  height: 100%;
  background: linear-gradient(180deg, #2E85EC 42.69%, rgba(82, 165, 175, 0.72) 84.14%);
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

#wrapper_main {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* HEAD CONTAINER */

 #head-container{
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  display: block;
}

#head-container h1{
  color: black;
  font-size: 32px;
  font-weight: bold;
}

#head-container img{
  margin: 0px;
  display: flex;
  width: max-content;
}

#head-info {
  display: flex;
  flex-direction: column;

  margin: auto;
}

#icon-div{
  display: flex;
}


#head-info h2{
  color: purple;
}

#head-info h2:nth-child(2){
  color: purple;
  margin-top: 0px;
}

/* INPUT CONTAINER */
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.input_city {
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

#fetchBtn {
  width: 100%;
  max-width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #45a049;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

#fetchBtn:hover {
  background-color: #3c8741;
}

/* INFO CONTAINER */
#slide-container{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  gap: 10px;
  
}

.weatherinforContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex: 0 0 100%;
  width: 5px;
  scroll-snap-align: start;
  transition: transform 0.5s ease;
  transform: translateX(0%);

  
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weatherinforContainer.hide {
  transform: translateX(-100%) !important;
}

.weatherinforContainer h2{
  font-size: 1.5em;
  margin-bottom: 30px;
  color: red;
}

.weatherinforContainer p {
  font-size: 20px;
  margin-top: 0px;
}


/* Media Queries */
@media (max-width: 576px) {
  /* CSS rules for mobile devices */

  body{
    margin-top: 50px;
  }

  h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .input_city {
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }

  #fetchBtn {
    width: 100%;
    max-width: 150px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #45a049;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
  }
}