<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/switch.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
<div id="wrapper_main">

  <div id="head-container">
    <div id="firsth1"> 
      <h1>Weather App</h1>
    </div>

    <div id="icon-div">

    </div>
    
    <div id="right" class="head-info">

    </div>
  </div>
    

  <div class="input-container">
    <input class = "input_city" type="text" id="input_city" placeholder="Enter City" name ="input_form">
    <button id="fetchBtn" action="GET">Fetch Weather</button>
  </div>

  <div id="slide-container">

    <div class="weatherinforContainer" id="info1">

    </div>

    <div class="weatherinforContainer" id="info2">
      
    </div>

    <div class="weatherinforContainer" id="info3">
      
    </div>

  </div>

  <div id="hidden">
    <label class="toggle">
      <input class="toggle-input" type="checkbox" />
      <span class="toggle-label" celsius="&#8451" fahrenheit="&#8457"></span>
      <span class="toggle-handle"></span>
    </label>
  </div>

</div>
  <script src="static/script.js"></script>
</body>
</html>


