<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
  
<div id="wrapper_main">
  <h1>Weather App</h1>
  <div class="input-container">
    <input class = "input_city" type="text" id="input_city" placeholder="Enter City" name ="input_form">
    <button id="fetchBtn" action="GET">Fetch Weather</button>
  </div>
  <div id="weatherInfoContainer">

  </div>
<!--
  <button id="next_btn">Next</button>
  <button id="prev_btn">Previous</button> --> 
</div>

  <script src="static/script.js"></script>
</body>
</html>


