<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
  <h1>Weather App</h1>
  
<div id="wrapper_main">
  <div class="input-container">
    <input class = "input_form" type="number" id="latInput" placeholder="Enter lat">
    <input class = "input_form" type="number" id="lonInput" placeholder="Enter lon">
    <button id="fetchBtn" action="GET">Fetch Weather</button>
  </div>

  <div id="weatherInfoContainer">
    <ul id = "list">
      <li id = "element1"></li>
      <li id = "element2"></li>
      <li id = "element3"></li>
    </ul>
  </div>
  
</div>

  <script src="static/script.js"></script>
</body>
</html>



